{{ define "main" }}
  <article>
    <main>
      {{- .Content -}}
    </main>

    <section class="columns is-multiline is-vcentered">
      {{- template "_internal/pagination.html" -}}

      {{ range .Paginator.Pages }}
        <div class="column is-half is-vcentered">
          <div class="content">
            <h2>
              <a href="{{ .RelPermalink }}">
                {{- .Title -}}
              </a>
            </h2>
            <p>
              {{ .Summary }}
            </p>
          </div>
        </div>
      {{ end }}

      {{ partial "pagination.html"}}

    </section>
  </article>
{{ end }}