<span class="section__title">{{ .Title | default "Projects" }}</span>
<div class="portfolio__content">
    <section>
        <div class="portfolio_content">
            <hr class="divider">
            {{ range .Data.Pages.ByDate.Reverse }}
            <div class="row">
                {{ if .Params.screenshot }}
                    <div class="col-md-4 col-sm-4 col-xs-12" href="{{ .RelPermalink }}">
                        <img class="project__image img-responsive" src="{{ .Params.screenshot }}" alt="{{ .Title }}">
                    </div>
                {{ end }}
                {{ if .Params.screenshot }}
                <div class="col-md-8 col-sm-8 col-xs-12">
                {{ else }}
                <div class="col-md-12 col-sm-12 col-xs-12">
                {{ end }}
                    <span class="project__title">
                        <a href="{{ .Params.link }}">{{ .Title }}</a>
                    </span>
                    <span class="project__subtitle-small">
                        <sup><i class="fa fa-quote-left" aria-hidden="true"></i></sup>
                        {{ .Params.description }}
                        <sup><i class="fa fa-quote-right" aria-hidden="true"></i></sup>
                    </span>
                </div>
            </div>
            <div class="row-space">&nbsp;</div>
            {{ end }}
        </div>
    </section>
</div>

